USE [master]
GO
/****** Object:  Database [UsuariosDB]    Script Date: 23/01/2025 16:47:03 ******/
CREATE DATABASE [UsuariosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UsuariosDB', FILENAME = N'C:\SQLDatos\MSSQL16.SQLEXPRESS\MSSQL\DATA\UsuariosDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UsuariosDB_log', FILENAME = N'C:\SQLDatos\MSSQL16.SQLEXPRESS\MSSQL\DATA\UsuariosDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UsuariosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UsuariosDB]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 23/01/2025 16:47:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Nombre], [Apellido]) VALUES (1, N'Allan', N'Manzanillas ')
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Apellido]) VALUES (2, N'Cristian', N'Montoya')
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Apellido]) VALUES (3, N'Jonathan', N'Gomez')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
USE [master]
GO
